<h1>Welcome to my veterinary clinic</h1>

to see all appointments go to <%= link_to 'Appointments', appointments_path %><br>
To see all Doctors go to <%= link_to 'Doctors', doctors_path %><br>
To see all customer go to <%= link_to 'Customer', customers_path %><br>
To create Doctors go to <%= link_to 'New Doctor', new_doctor_path %><br>
To create Customer go to <%= link_to 'New Customer', new_customer_path %><br>
