<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @doctor.doctor_info.address %>
</p>
<p>
  <strong>State:</strong>
  <%= @doctor.doctor_info.state %>
</p>
<p>
  <strong>Zip:</strong>
  <%= @doctor.doctor_info.zip %>
</p>
<p>
  <strong>School:</strong>
  <%= @doctor.doctor_info.school %>
</p>
<p>
  <strong>years since practice :</strong>
  <%= @doctor.doctor_info.years_since_passed %>
</p>
<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
