<%= form_for(@receptionist) do |f| %>
  <% if @receptionist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receptionist.errors.count, "error") %> prohibited this receptionist from being saved:</h2>

      <ul>
      <% @receptionist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
     <%= f.label :Name %><br />
     <%= f.text_field :name %>
   </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
