<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
  <%= f.label :Doctor %>
  <%= f.select :doctor_id, options_from_collection_for_select(Doctor.all ,:id,:name)%>
</div>
<div class="field">
  <%= f.label :Customer %>
  <%= f.select :customer_id, options_from_collection_for_select(Customer.all ,:id,:name)%>
</div>
<div class="field">
  <%= f.label :Pet %>
  <%= f.text_field :pet %>
</div>
<div class="field">
  <%= f.label :reminder %>
  <%= f.select :reminder, [['Yes', 1], ['No', 0]] %>
</div>

<div>
  <%= f.label :reason_for_visit %>
  <%= f.text_area :reason_for_visit %>
</div>

  <div>
  <%= f.label :visit_date %>
  <%= f.datetime_select :visit_date %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
